apparmor==2.13.3
appdirs==1.4.3
application-utility==1.3.1
bauh==0.8.1
beautifulsoup4==4.8.2
btrfsutil==1.1.1
CacheControl==0.12.6
caffeine-ng==3.4.2
certifi==2019.11.28
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorama==0.4.3
contextlib2==0.6.0
cupshelpers==1.0
cycler==0.10.0
distlib==0.3.0
distro==1.4.0
docopt==0.6.2
ewmh==0.1.6
gufw==19.10.0
html5lib==1.0.1
idna==2.8
importlib-metadata==1.4.0
kiwisolver==1.1.0
layoutswitcherlib==0.7
lensfun==0.3.95
LibAppArmor==2.13.3
lit==0.9.1.dev0
llvmlite==0.31.0
lockfile==0.12.2
louis==3.12.0
matplotlib==3.1.2
mercurial==5.2.2
more-itertools==8.1.0
msgpack==0.6.2
npyscreen==4.10.5
numba==0.47.0
numpy==1.18.1
openshot-qt==2.4.4
ordered-set==3.1.1
packaging==20.0
pacman-mirrors==4.16.2
pep517==0.6.0
Pillow==6.2.1
Pivy==0.6.5a1
progress==1.5
pwquality==1.4.2
pyaml==19.12.0
pycairo==1.19.0
pycups==1.9.74
pycurl==7.43.0.4
pygame==1.9.6
PyGObject==3.34.0
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.0
pyserial==3.4
pysmbc==1.0.18
python-dateutil==2.8.1
python-xlib==0.26
pytoml==0.1.21
pyxdg==0.26
PyYAML==5.3
pyzmq==18.1.1
reportlab==3.5.34
requests==2.22.0
retrying==1.3.3
scipy==1.4.1
setproctitle==1.1.10
Shapely==1.6.4.post2
sip==4.19.20
six==1.14.0
soupsieve==1.9.5
team==1.0
termcolor==1.1.0
tldr==0.5
ufw==0.36
urllib3==1.25.8
webencodings==0.5.1
zipp==1.0.0

